{% extends "cj_admin/cj_base.html" %}
{% block content %}

<h1>Orders</h1>

<table class="cj-table">
    <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Customer</th>
        <th>Phone</th>
        <th>Size</th>
        <th>Color</th>
        <th>Price</th>
        <th>Status</th>
        <th>Action</th>
    </tr>



    {% for order in orders %}
    <tr>
        <td>{{ order.order_id }}</td>
        <td>{{ order.created_at|date:"d M Y, h:i A" }}</td>
        <td>{{ order.customer_name }}</td>
        <td>{{ order.phone }}</td>
    
        <td>
            {% if order.size %}
            {{ order.size }}
            {% else %}
            —
            {% endif %}
        </td>
    
        <td>
            {% if order.color %}
            {{ order.color }}
            {% else %}
            —
            {% endif %}
        </td>
    
        <td>₹{{ order.price }}</td>
        <td>{{ order.status }}</td>
    
        <td>
            <a href="{% url 'cj_order_edit' order.id %}">Edit</a>
        </td>
    </tr>

    {% empty %}
    <tr>
        <td colspan="6">No orders found</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}