{% extends "cj_admin/cj_base.html" %}

{% block content %}

<h1>Products</h1>
<a href="{% url 'cj_product_add' %}" class="cj-btn primary">
    + Add Product
</a>
<form method="get" class="cj-filter-bar">
    <input type="text" name="search" placeholder="Search product..." value="{{ request.GET.search }}">

    <select name="category" id="category-select">
        <option value="">All Categories</option>
        {% for cat in categories %}
        <option value="{{ cat.id }}" {% if selected_category == cat.id %}selected{% endif %}>
            {{ cat.name }}
        </option>
        {% endfor %}
    </select>


    <select name="subcategory" id="subcategory-select">
        <option value="">All Sub Categories</option>
        {% for sub in subcategories %}
        <option value="{{ sub.id }}" {% if selected_subcategory == sub.id %}selected{% endif %}>
            {{ sub.category.name }} → {{ sub.name }}
        </option>
        {% endfor %}
    </select>

    <select name="stock">
        <option value="">All Stock</option>
        <option value="in_stock" {% if request.GET.stock == "in_stock" %}selected{% endif %}>In Stock</option>
        <option value="out_of_stock" {% if request.GET.stock == "out_of_stock" %}selected{% endif %}>Out of Stock</option>
    </select>

    <select name="featured">
        <option value="">Featured?</option>
        <option value="yes" {% if request.GET.featured == "yes" %}selected{% endif %}>Yes</option>
        <option value="no" {% if request.GET.featured == "no" %}selected{% endif %}>No</option>
    </select>

    <button type="submit" class="cj-btn primary">Filter</button>
    <a href="{% url 'cj_products' %}" class="cj-btn">Reset</a>
</form>

<table class="cj-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>MRP</th>
            <th>Selling</th>
            <th>Stock</th>
            <th>Featured</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>


    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
        
            <td>
                {{ product.category.name }}
            </td>
        
            <td>₹{{ product.original_price }}</td>
        
            <td>
                ₹{{ product.selling_price }}
                {% if product.discount_percentage %}
                <small>({{ product.discount_percentage }}% OFF)</small>
                {% endif %}
            </td>
        
            <td>
                {% if product.stock_status == "in_stock" %}
                <span class="cj-badge success">In Stock</span>
                {% else %}
                <span class="cj-badge danger">Out</span>
                {% endif %}
            </td>
        
            <td>
                {% if product.is_featured %}
                <span class="cj-badge success">Yes</span>
                {% else %}
                <span class="cj-badge">No</span>
                {% endif %}
            </td>
        
            <td>
                {% if product.is_active %}
                <span class="cj-badge success">Active</span>
                {% else %}
                <span class="cj-badge danger">Inactive</span>
                {% endif %}
            </td>
        
            <td>
                <a href="{% url 'cj_product_edit' product.id %}" class="cj-btn">
                    Edit
                </a>
        
                <a href="{% url 'cj_product_delete' product.id %}" class="cj-btn danger">
                    Delete
                </a>
            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="4">No products found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        const categorySelect = document.getElementById("category-select");
        const subcategorySelect = document.getElementById("subcategory-select");

        categorySelect.addEventListener("change", function () {
            const categoryId = this.value;

            // reset subcategory
            subcategorySelect.innerHTML =
                '<option value="">All Sub Categories</option>';

            if (!categoryId) return;

            fetch(`/cj-admin/get-subcategories/?category=${categoryId}`)
                .then(response => response.json())
                .then(data => {
                    data.forEach(sub => {
                        const option = document.createElement("option");
                        option.value = sub.id;
                        option.textContent = sub.name;
                        subcategorySelect.appendChild(option);
                    });
                });
        });
    });
</script>



{% endblock %}