{% extends "cj_admin/cj_base.html" %}
{% block content %}

<h1>
    {% if is_edit %}Edit Product{% else %}Add Product{% endif %}
</h1>

<form method="post" enctype="multipart/form-data" class="cj-form">
    {% csrf_token %}

    <h3>Product Info</h3>
    {{ product_form.as_p }}

    <hr>

    <h3>Product Images</h3>

    {{ image_formset.management_form }}

    <div id="image-formset">
        {% for form in image_formset %}
        <div class="cj-image-form">
            {{ form.as_p }}
        </div>
        {% endfor %}
    </div>

    <button type="button" class="cj-btn" onclick="addImageForm()">
        + Add Another Image
    </button>

    <br><br>

    <button class="cj-btn primary">
        {% if is_edit %}Update Product{% else %}Save Product{% endif %}
    </button>
</form>

<script>
    function addImageForm() {
        const formset = document.getElementById("image-formset");
        const totalForms = document.getElementById("id_form-TOTAL_FORMS");

        let count = parseInt(totalForms.value);
        let newForm = formset.children[0].cloneNode(true);

        newForm.innerHTML = newForm.innerHTML.replaceAll(
            /form-(\d+)-/g,
            `form-${count}-`
        );

        newForm.querySelectorAll("input, select").forEach(el => {
            el.value = "";
            if (el.type === "checkbox") el.checked = false;
        });

        formset.appendChild(newForm);
        totalForms.value = count + 1;
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        const categorySelect = document.getElementById("id_category");
        const subCategorySelect = document.getElementById("id_subcategory");

        if (!categorySelect || !subCategorySelect) return;

        categorySelect.addEventListener("change", function () {

            const categoryId = this.value;
            subCategorySelect.innerHTML = "<option value=''>Loading...</option>";

            if (!categoryId) {
                subCategorySelect.innerHTML = "<option value=''>---------</option>";
                return;
            }

            fetch(`/cj-admin/get-subcategories/?category=${categoryId}`)
                .then(res => res.json())
                .then(data => {

                    subCategorySelect.innerHTML = "<option value=''>---------</option>";

                    data.forEach(sub => {
                        const option = document.createElement("option");
                        option.value = sub.id;
                        option.textContent = sub.name;
                        subCategorySelect.appendChild(option);
                    });

                });
        });
    });
</script>


{% endblock %}