{% extends 'cartjiapp/base.html' %}
{% block content %}

<div class="container my-5">
    <h2>Checkout</h2>

    <div class="card p-4">

        <h4>{{ product.name }}</h4>
        <h6>Selected Size: {{ size }}</h6>
        <h6>Selected Color: {{ color }}</h6>
        <p>Price: ₹{{ product.selling_price }}</p>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="text" name="name" class="form-control mb-2" placeholder="Full Name" required>
            <input type="text" name="phone" class="form-control mb-2" placeholder="Phone Number" required maxlength="10"
    pattern="[0-9]{10}" title="Enter exactly 10 digit phone number">
            <textarea name="address" class="form-control mb-3" placeholder="Delivery Address" required></textarea>

            <h5>Pay via UPI</h5>
            <img src="/static/QRCode.png" width="200">

            <p>Total: ₹{{ product.selling_price }}</p>

            <input type="file" name="payment_screenshot" class="form-control mb-3" required>
            <input type="text" name="utr" class="form-control mb-2" placeholder="UTR NO." required>
            
            <input type="hidden" name="size" value="{{ size }}">
            <input type="hidden" name="color" value="{{ color }}">
            <input type="hidden" name="final_price" value="{{ product.selling_price }}">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <button type="submit" class="btn btn-success w-100">
                Confirm Order
            </button>
        </form>

    </div>
</div>

{% endblock %}