{% extends "cartjiapp/base.html" %}
{% load static %}
{% block content %}

<div class="container my-4">

    <!-- PAGE TITLE -->
    {% if category %}
    <h3 class="fw-bold mb-4">{{ category.name }}</h3>
    {% elif subcategory %}
    <h3 class="fw-bold mb-4">{{ subcategory.name }}</h3>
    {% elif request.GET.sort == "new" %}
    <h3 class="fw-bold mb-4">Latest arrivals just for you</h3>
    {% elif product.views > 20 %}
    <h3 class="fw-bold mb-4">Trending products customers love</h3>
    {% else %}
    <h3 class="fw-bold mb-4">All Products</h3>
    {% endif %}


    <!-- PRODUCT GRID -->
    <div class="row g-4 ">

        {% if products %}
        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">

            <div class="product-grid-card">
            
                {% if product.discount_price %}
                <span class="discount-badge">
                    {{ product.discount_percentage }}% OFF
                </span>
                {% endif %}
            
                <a href="{{ product.get_absolute_url }}" class="product-image-wrap">
                    {% if product.images.first %}
                    <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" loading="lazy">
                    {% else %}
                    <img src="{% static 'cartjiapp/images/no-image.png' %}">
                    {% endif %}
                </a>
            
                <div class="product-info">
                    <h6 class="product-title">{{ product.name }}</h6>
            
                    {% if product.discount_price %}
                    <p class="product-price">
                        <del>₹{{ product.original_price }}</del>
                        <strong>₹{{ product.selling_price }}</strong>
                    </p>
                    {% else %}
                    <p class="product-price">
                        ₹{{ product.original_price }}
                    </p>
                    {% endif %}
            
                    <a href="{{ product.get_absolute_url }}" class="btn btn-view">
                        View Product
                    </a>
                </div>
            
            </div>


        </div>
        {% endfor %}
        {% else %}
        <!-- Skeleton Loader -->
        {% for i in "1234" %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="skeleton-card">
                <div class="skeleton-img"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-text small"></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}


    </div>
</div>

{% endblock %}