{% extends "cartjiapp/base.html" %}
{% block title %}Store Policy | CartJi{% endblock %}

{% block content %}
<section class="static-page">
    <div class="container">
        <h1>Store Policy</h1>
        <p>
            CartJi operates as a WhatsApp-first shopping platform.
            All purchases are confirmed manually for accuracy.
        </p>
        <p>
            Prices, availability, and offers may change without notice.
        </p>




        <p class="fw-bold">Size Chart for </p>

        <p class="fw-semibold">UPPER</p>
        <ul>
            <li><strong>M</strong> – 38</li>
            <li><strong>L</strong> – 40</li>
            <li><strong>XL</strong> – 42</li>
            <li><strong>XXL</strong> – 44</li>
        </ul>

        <p class="fw-semibold">LOWER</p>
        <ul>
            <li><strong>M</strong> – 28 / 30</li>
            <li><strong>L</strong> – 30 / 32</li>
            <li><strong>XL</strong> – 32 / 34</li>
            <li><strong>XXL</strong> – 34 / 36</li>
        </ul>

        <p class="fw-bold">Order Placement Format</p>
        
        <div class="order-format">
            <p><strong>Name:</strong></p>
            <p><strong>Address:</strong></p>
            <p><strong>City:</strong></p>
            <p><strong>Landmark:</strong></p>
            <p><strong>Pincode:</strong></p>
            <p><strong>State:</strong></p>
            <p><strong>Customer Contact No:</strong></p>
            <p><strong>Alternate Contact No:</strong></p>
        </div>
        
        <p class="important">
            Please place your orders strictly in the above format 🙏
        </p>
        
        <p class="important">
            PLEASE PREPARE A PARCEL OPENING VIDEO OF EACH AND EVERY ORDER WHEN DELIVERED TO YOU
        </p>
        
        <div class="note">
            <p>
                <strong>Note:</strong> Tracking ID will be shared within 24 hours after booking.
                Once tracking is shared, please track your parcel yourself 😊
            </p>
        </div>
    </div>
</section>
{% endblock %}
