{% extends "cartjiapp/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">

    <div class="page-header text-center mb-5">
        <h2 class="fw-bold">{{ category.name }}</h2>
        <p class="text-muted">{{ category.name }} / {{ subcategory.name }}</p>
    </div>


    <div class="row g-4">
        {% if products %}
        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product-grid-card">
            
                {% if product.discount_price %}
                <span class="discount-badge">
                    {{ product.discount_percentage }}% OFF
                </span>
                {% endif %}
            
                <a href="{{ product.get_absolute_url }}" class="product-image-wrap">
                    {% if product.images.first %}
                    <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" loading="lazy">
                    {% else %}
                    <img src="{% static 'cartjiapp/images/no-image.png' %}">
                    {% endif %}
                </a>
            
                <div class="product-info">
                    <h6 class="product-title">{{ product.name }}</h6>
            
                    {% if product.discount_price %}
                    <p class="product-price">
                        <del>₹{{ product.original_price }}</del>
                        <strong>₹{{ product.selling_price }}</strong>
                    </p>
                    {% else %}
                    <p class="product-price">
                        ₹{{ product.original_price }}
                    </p>
                    {% endif %}
            
                    <a href="{{ product.get_absolute_url }}" class="btn btn-view">
                        View Product
                    </a>
                </div>
            
            </div>

        </div>
        {% endfor %}
        {% else %}
        <p class="text-center text-muted">No products found.</p>
        {% endif %}
    </div>

</div>
{% endblock %}